<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwConfigExceptions="true" internalLogLevel="warn" internalLogFile="internal-nlog.txt">

	<!-- Targets to write logs to -->
	<targets>
		<!-- Target to log to console -->
		<target xsi:type="Console" name="console" layout="${longdate} ${level} ${message} ${exception:format=ToString}" />
	</targets>

	<!-- Rules to map from loggers to targets -->
	<rules>
		<!-- All logs from Debug level and above -->
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>
